@font-face {
  font-family: 'BalooBhaina-Regular';
  src: url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.woff') format('woff'), url('BalooBhaina-Regular.ttf')  format('truetype'),
     url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.svg#BalooBhaina-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  
  url('fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'), url('Montserrat-Light.ttf')  format('truetype'),
  url('fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


.head .navbar .navbar-collapse .list .nav-item a.nav-link.imp
{
	color:#ffb600 ;
	border-bottom: 1px solid #ffb600;
	font-family: 'BalooBhaina-Regular';
	font-size: 18px;
	margin-right: 20px;
	margin-top: 24%;
}
.head .navbar .navbar-collapse .list .nav-item a.nav-link.inside
{
	color: #999999;
	font-family: 'BalooBhaina-Regular';
	font-size: 18px;
	margin-right: 20px;
	margin-top: 28px;
}

.head .navbar .navbar-collapse .list .nav-item.icon
{
	margin-right: 10px;
	margin-top: 3%;
	
}

.head .navbar .navbar-collapse .list .nav-item.icon a.nav-link.icon-1
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 7px;
	color: white;
	background-color:  #ffb600;
	margin-left: 20px;
}

.head .navbar .navbar-collapse .list .nav-item.icon a.nav-link.icon-2
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 5px;
	color: #ffb600;

}

.head .navbar .navbar-collapse .list .nav-item.icon a.nav-link.icon-3
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 2px;
	color: #ffb600;
}


.head .navbar .navbar-collapse .list .nav-item.icon a.nav-link.icon-4
{
	border: 1px solid  #ffb600;
	border-radius: 50px;
	padding: 0px 5px;
	color: #ffb600;
	margin-right: 10px;
}

.head .navbar .navbar-collapse .list .nav-item.sign-in
{
	background-image: url(picture/chest.png);
	background-repeat: no-repeat;
	padding-top: 16px ;
	padding-bottom: 50px;
}

.head .navbar .navbar-collapse .list .nav-item.sign-in a.nav-link
{
	font-family: 'BalooBhaina-Regular';
	font-size: 18px;
	color: white;
	padding: 0px 39px;
}

.head .navbar
{
	padding: 0px;
}

.head
{
	background-image: url(picture/cloud-baner-1.png);
	background-repeat: no-repeat;
	background-size: cover; 
	padding-bottom: 50px;
}

.baner
{
	background-image: url(picture/baner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.head-1
{
	justify-content: center;
	display: flex;
	
}

.head-1 img
{
	width: 40%;
	height: 100%;
}

.head-2
{
	background-image: url(picture/blank.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 92%;
	margin-top: 4%;
	padding-bottom: 100px;
}

.head-2 .col-md-4 img
{
	padding-top: 40px;
	padding-left: 40px;
}

.head-2 .col-md-8 .mittin
{
	width: 96%;
	padding-top: 40px;
}

.head-2 .col-md-8 .mittin h2.title
{
  font-family: 'Montserrat-Light';
  font-size: 22px;
  font-weight: bold;
}

.head-2 .col-md-8 .mittin p.content-head
{
  font-family: 'Montserrat-Light';
  font-size: 16px;
}

.head-3 
{
	padding: 0px;
	padding-bottom: 2%;
}

.head-3 .row
{
	margin-right: 0px;
	margin-left: 0px;
}

.head-3 .col-md-6.left 
{
	padding-left: 0px;
}

.head-3 .col-md-6.left img
{
	width: 102%;
}

.head-3 .col-md-6.right
{
	padding-right: 0px;
}

.head-3 .col-md-6.right img
{
	width: 85%;
	margin-left: 15%;
}

.cloud
{
	position: absolute;
	z-index: 1;
	bottom: -6%;
}

.cloud img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.foot .col-md-4
{
	position: relative;
	margin-top: -3%;
	z-index: 4;	
}

.foot .col-md-4.take-care
{
	padding-left: 3%;
}

.foot .col-md-4 img
{
	width: 92%;
	height: 92%;
}

.last-page .row
{
  padding-top: 10%;
}

.last-page .col-md-4 h2.title
{
  font-size: 18px;
  font-family: 'BalooBhaina-Regular';
  margin-top: 50px;
}

.last-page .col-md-4 .content-left
{
  color:#1c1c1c;
  font-family: 'BalooBhaina-Regular';
  font-size: 15px;
}

.last-page .col-md-4 .content-left .fa.fa-envelope-o
{
  border: 1px solid;
  padding: 1px;
  border-color: #696969;
  border-radius: 5px;
  background-color: #525252;
  color: white;
}

.last-page .col-md-4 .content-left i
{
  color: #525252;
}

.last-page .col-md-4 .col-sm-4 .wrap-img img
{
  padding: 10px 0;
}



footer .leg-foot
{
  background-image: url(picture/footer-straight.png);
  background-repeat: no-repeat;
  margin-top: 12%;
  background-position: center;
  height: 100px;
  width: 100%;

}

footer .leg-foot a
{
  position: relative;
  margin-top: 2%;
  margin-left: 49%;
  border: 5px solid #e2e1de;
  border-radius: 100px;
  color: #e2e1de;
  padding: 0px 1px;
  width: 33px;
  height: 32px;
  background-color: #ffb400;
}


.footer-main .navbar .slimz .nav-item a.nav-link
{
  font-family: 'BalooBhaina-Regular';
  font-size: 17px;
  color: black;
}

.footer-main .navbar .navbar-brand
{
  padding-left: 10%;
  font-family: 'BalooBhaina-Regular';
  font-size: 16px;
  color: black;
}


@media all and (min-width: 320px) {
	.head:before, .head:after
	{
		content:"";
		display: table;
		clear: both;
	}
	.head
	{
		max-width: 100%;
	}
}